

.jumbotronsignup {
  width: 80%;
  margin-top: 12%;
  padding: 1%;
  margin-left: 3%;
  color: #e9ecef !important;
  background-color: rgba(0, 0, 0, 0.808) !important;
}

.form-control {
  background-color: #474747e7 !important;
  color: azure !important;
}

select {
  background-color: #474747e7 !important;
  color: azure !important;
}

body {
  width: 100%;
  height: 115vh;
  background: url(../images/whero1.jpeg) no-repeat 50% 50%;
  background-size: cover;
}

#containerIntro h1,
#containerIntro p {
  display: inline;
  vertical-align: top;
}
