
.jumbotron{
  margin:0;
  padding:0;
  background-image: url(../images/jumbo1.1.jpeg);
  background-color: black;
  background-repeat: no-repeat;
  height:50vw;
  background-size: 100%;
  background-attachment: fixed;
  width: 100%;
}

#heading{
  color: white;
  font-weight: normal !important;
  margin-top: 30vw;
  float:left;
  text-align:left;
  font-family: 'Roboto',sans-serif;
  font-size: 3.5vw;
  margin-left: 30px;
}


#featured{
  padding-top: 5em;

}


.reg_form>a{
	font-size: 1.2em;
  margin-right: 10px;
}


.navbar-brand{
	font-family: 'Sriracha',sans-serif;
	font-size: 2.5em;
	color: white !important;
	padding-left: 25px;
	font-weight: normal;
}

.navbar-custom{
	background: linear-gradient(to right, rgb(204, 43, 94), rgb(117, 58, 136));
	height: 5vw;
	position: fixed;
  width: 100%;
  z-index: 999;
}

a:hover{
	text-decoration: none;

}

.fa-home,.fa-instagram,.fa-twitter,.fa-facebook,.fa-mobile-alt{
	color:#B0B0B0 !important; 
	font-size: 6em !important;
}

.fa-arrow-left{
  color: white !important;
  font-size: 2em !important;
  margin-top: 6vw;
  float: left;
  margin-left: 0;
  padding-left: 40px;
  position: fixed;
}

.fa-arrow-left:hover{
  cursor: pointer;
}

footer{
  color: #B0B0B0;
  font-family: 'Arial',sans-serif;
}


.navbar-nav>li>a{

	color: white;
}

.navbar-nav>li>a:hover{

	color:  white;
	border-radius: 8px 8px;
}


.partner{
	background: url(../images/joinus.jpeg);
	background-repeat: no-repeat;
	background-size: 100%;
  height: 60vw !important;
  background-attachment: fixed;
}

#partnering1{
  color: white;
  font-family: 'Roboto',sans-serif;
  font-size: 1.2vw;
  font-weight: lighter;
  padding: 20px
}

#partnering2{
	color: white;
  margin-top: 15vw;
  text-align:right;
  font-family: 'Roboto',sans-serif;
  font-size: 5vw;
  font-weight: lighter;
}

#step{
  text-align: center; !important;
  font-size: 1.9em;
  color: black;
  margin-top: 2em;
  display: inline-block;
  font-family: 'Roboto',sans-serif;
  vertical-align: middle;
  font-weight: bolder;
  height: 10em !important;
}

footer{
	padding: 30px 30px 30px 30px
}



.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-img-top {
  height: 150px;
  widows: 200px;
  background-color: gray;
}

.card-title {
  margin-bottom: 0px;
}

.light {
  color: rgb(176, 176, 177);
}

.card:hover{
  background-color:#FBFBFB;
  box-shadow: 0 8px 10px 0px rgba(0,0,0,0.70), 0 0px 0px 1px rgba(0,0,0,0.08);
  color: black;
  font-size: 1em;
}


/*----------hstyles import--------------------------------------------*/
td{
  margin: 0;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}


.hoteldisplay {
  width: 100%;
  height: 50vh;
  margin: 5px;
  border: 2px solid red;
}


@media (max-width: 786px) {

  .menu-icon {
    display: block;
  }

  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
}






/*
.myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
  box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
  background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
  background-color:#f24537;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #d02718;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
  background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
  background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
  background-color:#c62d1f;
}
.myButton:active {
  position:relative;
  top:1px;
}
*/